.sticky {
	padding: 10px;
}
footer {
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #454545;
	color: white;
}
a {
	color: white;
}
u {
 	text-decoration: underline #46c2db;
}
a:hover {
	color: white;
	text-decoration: underline #46c2db;
}
nav select {
	display: none;
}
nav img {
	margin-bottom: 4px;
}
.psup {
	box-shadow: 0 4px 8px 0 black;
	background-color: #46c2db;
}
.navbar-custom {
	background-color: #454545;
}
.btn-primary {
	background-color: white;
	border-radius: 0;
	border-style: none;
	color: #46c2db;
}
.btn-primary:hover {
	background-color: white;
	outline-color: #46c2db;
	border-radius: 0;
	border-style: none;	
	color: #46c2db;
}
.btn-primary:active {
	background-color: white;
	outline-color: #46c2db;
	border-radius: 0;
	border-style: none;	
	color:  #46c2db;
}
.btn-primary:focus {
	background-color: white;
	outline-color: #46c2db;
	border-radius: 0;
	border-style: none;	
	border-color: none !important;
    box-shadow:  none !important;
    color: #46c2db
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	background-color: white;
	outline-color: #46c2db;
	border-radius: 0;
	border-style: none;
	color:  #46c2db;	
}
.spacel {
	margin-left: 10px;
}
.langs {
	margin-top: 6px;
}
.selectedlang {
	color: #46c2db;
}
.langs a:hover {
	color: #46c2db;
}
.nav-link:hover {
	text-decoration: underline #46c2db;
}
select {
	background-color: white;
	color: #46c2db;
	border-color: #46c2db;
	margin-top: 5px;
	margin-left: 5px;
}
input {
	margin-left: 10px;
}
label {
	display: block;
}
.FilterBar {
	display: grid;
	grid-template-columns: 200px 200px 300px 200px 100px 120px 200px 200px;
}
.TypeSelectHeader {
	color: #46c2db;
	margin-right: 5px;
}

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: -10px 0 20px 0;
  width: 50%;
  margin-left: 130px;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 9px;
  border-radius: 14px;
  background-color: #46c2db;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 21px;
  width: 21px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}
[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -17px;
  top: 20px;
  z-index:3;
  background-color: #46c2db;
  color: #fff;
  width: 60px;
  height: 28px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
[slider] > div > [sign] > span {
  font-size: 15px;
  font-weight: 800;
  margin-top: 10px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}
.mapContainer {
	display: grid;
	grid-template-columns: 260px 1259px;
}
.mapContainer button {
  background-color: #46c2db;
  color: white;
}
.ListingSide {
	height: 95vh;
	display: grid;
	grid-template-columns: 260px;
	grid-template-rows: 3vh 21.5vh 21.5vh 21.5vh 21.5vh;
}
.ListingHeader {
  text-align: center;
}
.ListingHeader a {
  color: #46c2db;
  margin-left: 10px;
  margin-right: 10px;
}
.AVL {
	align-self: center;
	justify-self: center;
}
.Clear {
	align-self: center;
	justify-self: center;
}
.FeaturesSelect {
	align-self: center;
	justify-self: center;
}
.Range-Slider {
	align-self: center;
}
.SearchBar {
	align-self: center;
	justify-self: center;
}
.title {
	margin-top: 10px;
}
.card {
	padding: 2px;
}
.card a {
	color: black;
}
.container1 {
	position: relative;
  	text-align: center;
  	overflow: hidden;
  	height: 18vh;
}
#exInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	font-weight: bold;
	font-size: 1,5em;
}
#container1:hover #exInfo {
	display: block;
	color: white;
}
.Address {
	position: absolute;
	text-align: left;
	margin-top: 10px;
	margin-left: 55px;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
}
.lastUpdate {
	margin-top: -60px;
	text-align: right;
	color: white;
	font-weight: bold;
}
.mInfo {
	margin-bottom: 8px;
	color: #46c2db;
	text-align: center;
}
.pricing {
	background-color: #46c2db;
	opacity: 0.9;
	font-weight: bold;
	color: white;
	margin-top: -24px;
	width: 45%;
	text-align: center;
}